.contact-form-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form-container:hover {
    transform: scale(1.02); /* Increase the size on hover */
  }
  
  .form-label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition: border-color 0.3s;
    font-size: 16px;
  }
  
  .form-input:focus,
  .form-textarea:focus {
    outline: none;
    border-color: #45a049;
  }
  
  .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  
  .alert {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .alert h1 {
    color: #4CAF50;
    font-size: 24px;
    margin: 0;
  }