.card-img-overlay-hover {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card-img-overlay-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(114, 4, 4, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 8px;
}

.card-img-overlay-hover:hover::before {
  opacity: 1;
  transform: perspective(1000px) rotateX(20deg) rotateY(20deg) translateY(-10%) translateZ(50px); /* 3D effect */
}

.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;

}

.custom-card:hover {
  transform: translateY(-10px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-wrapper {
  flex: 1;
  min-width: 18rem;
  max-width: 18rem;
  overflow: hidden;
}

/* Updated CSS for ContactForm component */

.contact-form-container {
  /* ... (Your existing styles) ... */
  opacity: 0;
  transform: scale(0.9) translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contact-form-container.show {
  opacity: 1;
  transform: scale(1) translateY(0);
}
