.card-img-overlay-hover {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card-img-overlay-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(114, 4, 4, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 8px;
}

.card-img-overlay-hover:hover::before {
  opacity: 1;
  transform: perspective(1000px) rotateX(20deg) rotateY(20deg) translateY(-10%) translateZ(50px); /* 3D effect */
}

.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;

}

.custom-card:hover {
  transform: translateY(-10px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-wrapper {
  flex: 1;
  min-width: 18rem;
  max-width: 18rem;
  overflow: hidden;
}

/* Updated CSS for ContactForm component */

.contact-form-container {
  /* ... (Your existing styles) ... */
  opacity: 0;
  transform: scale(0.9) translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contact-form-container.show {
  opacity: 1;
  transform: scale(1) translateY(0);
}
#button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  
  border: 0;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  animation: fadeInUp 0.5s ease, pulsate 2s infinite ease-in-out; /* Apply animations */
}

#button-89:hover,
#button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  animation: none; /* Disable animations on hover or focus */
}

#button-89:active {
  background: var(--color);
  color: #fff;
  animation: none; /* Disable animations on click */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
