/* Updated CSS for card component */

.card-img-overlay-hover {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card-img-overlay-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.card-img-overlay-hover:hover::before {
  opacity: 1;
}

.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.02);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-wrapper {
  flex: 1;
  min-width: 18rem;
  max-width: 18rem;
  overflow: hidden; /* Prevents the card from growing in height on hover */
}

/* Updated CSS for ContactForm component */

/* Overall container styling */
.contact-form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  transform-origin: center bottom;
  animation: fadeInUp 0.8s ease-out;
}

.contact-form-container label,
.contact-form-container input,
.contact-form-container textarea,
.contact-form-container button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 12px;
  border: 1px solid #3498db;
  border-radius: 6px;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
  outline: none;
  border-color: #3498db;
  background-color: #fff;
}

.contact-form-container button {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
  background-color: #2980b9;
}

/* Add some animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
